/CalculadoraMatrices/nbproject/private/
/CalculadoraMatrices/build/
/CalculadoraMatrices/dist/
/CalculadoraMatrices/res/
/PruebaTablas/nbproject/private/
/PruebaTablas/build/
/PruebaTablas/dist/
.idea/
out/
*.iml
